{% extends "base.html" %}

{% block content %}
<section id="fire-safety">
            <h2>Пожарная безопасность</h2>
            <div class="text_img_block">
                <img src="/static/fire-safety.jpg" alt="Пожарная безопасность" />
                <div class="text_block">
                    <h4>Последовательность действий:</h4>
                    <p><b>▎1.</b> Сохраняйте спокойствие и не паникуйте.</p>
                    <p><b>▎2.</b> Сообщите взрослым или позвоните в службу экстренной помощи (пожарная служба).</p>
                    <p><b>▎3.</b> Покиньте помещение немедленно, используя ближайший выход.</p>
                    <p class="importantAdvice">Всегда запоминайте где находится ближайший выход!<br>В публичных местах всегда есть карта планировки здания с ближайшими эвакуационными выходами!</p>
                    <p><b>▎4.</b> Не используйте лифт! Во время пожара лифт может отключиться. Используйте вместо этого лестницу.</p>
                    <p><b>▎5.</b> Если произошло задымление, ползите по полу, чтобы избежать вдыхания дыма.</p>
                </div>
            </div>
        </section>

        <section id="first-aid">
            <h2>Действия при оказании первой помощи</h2>
            <div class="text_img_block">
                <div class="text_block">
                    <h4>Ваши действия:</h4>
                    <p><b>▎1. Оцените ситуацию</b> <br> • Проверьте безопасность: Убедитесь, что место происшествия безопасно для вас и пострадавшего. <br> • Оцените состояние пострадавшего: Проверьте, в сознании ли он, дышит ли и есть ли у него пульс.</p>
                    <p><b>▎2. Вызов экстренной помощи:</b> <br> • Позвоните в службу экстренной помощи (например, 112 или 911) и сообщите о происшествии. <br>• Укажите точное местоположение, количество пострадавших и их состояние.</p>
                    <p><b>▎3. Основные действия при необходимости:</b> <br> • Если пострадавший не дышит: Начните сердечно-легочную реанимацию (СЛР). Делайте 30 компрессий грудной клетки, затем 2 вдоха искусственного дыхания. <br> • При сильном кровотечении: Наложите давящую повязку на рану и приподнимите поврежденную конечность, если это возможно.</p>
                    <p><b>▎4. Успокойте пострадавшего:</b> <br> • Говорите с ним: Поддерживайте контакт, успокаивайте его, чтобы уменьшить стресс и страх. <br> • Не оставляйте пострадавшего одного, пока не прибудет помощь.</p>
                    <p><b>▎5. Следите за состоянием пострадавшего:</b> • Проверяйте его сознание и дыхание до прибытия медиков. <br> • Будьте готовы к изменениям в состоянии пострадавшего и продолжайте оказывать помощь по мере необходимости.</p>
                </div>
                <img src="/static/first-aid.jpg" alt="Первая помощь" />
            </div>
        </section>

        <section id="terror-encounter">
            <h2>Действия при террористической угрозе</h2>
            <div class="text_img_block">
                <img src="/static/terror-encounter.jpg" alt="Террористическая угроза" />
                <div class="text_block">
                    <h4>Последовательность действий:</h4>
                    <p><b>▎1.</b> Сохраняйте спокойствие и не поддавайтесь панике.</p>
                    <p><b>▎2.</b> Слушайте указания сотрудников безопасности или полиции.</p>
                    <p><b>▎3.</b> Ищите укрытие в безопасном месте, если это возможно.</p>
                    <p><b>▎4.</b> Не подходите к подозрительным предметам или людям.</p>
                    <p class="importantAdvice">Никогда не трогайте подозрительные предметы и сумки! Они могут взорваться! Сообщите об оставленном предмете взрослому.</p>
                    <p><b>▎5.</b> Сообщите о ситуации по телефону экстренной помощи.</p>
                </div>
            </div>
        </section>

        <section id="terror-hostage">
            <h2>Действия при захвате в заложники</h2>
            <div class="text_img_block">
                <img src="/static/terror-hostage.jpg" alt="Действия при захвате в заложники" />
                <div class="text_block">
                    <h4>Последовательность действий:</h4>
                    <p><b>▎1.</b> Сохраняйте спокойствие и не провоцируйте захватчиков.</p>
                    <p><b>▎2.</b> Следуйте указаниям захватчиков, если они не угрожают вашей жизни.</p>
                    <p><b>▎3.</b> Запомните детали (внешность, голос, оружие) захватчиков для последующей информации полиции.</p>
                    <p class="importantAdvice">Всегда запоминайте где находится ближайший выход!<br>В публичных местах всегда есть карта планировки здания с ближайшими эвакуационными выходами!</p>
                    <p><b>▎4.</b> Не пытайтесь сбежать, если это может угрожать вам или другим.</p>
                    <p><b>▎5.</b> Ждите помощи от правоохранительных органов и следуйте их указаниям.</p>
                </div>
            </div>
        </section>
        <section id="numbers">
            <h2>Номера спецслужб</h2>
            <div class="text_img_block">
                <div class="text_block1">
                    <p class="number"><b>112</b> - Единый номер</p>
                    <p class="number"><b>101</b> - Пожарная охрана</p>
                    <p class="number"><b>102</b> - Полиция</p>
                    <p class="number"><b>103</b> - Скорая помощь</p>
                    <p class="number"><b>104</b> - Газовая служба</p>
                </div>
            </div>
        </section>
    <section>
        <h2>Комментарии</h2>

        {% if user %}
            <form method="POST" action="{{ url_for('add_comment') }}">
                <textarea name="content" rows="4" cols="50" placeholder="Оставьте ваш комментарий..." required></textarea><br>
                <button class="comment_submit" type="submit">Отправить</button>
                <hr>
            </form>
        {% else %}
            <p><a href="{{ url_for('login') }}">Войдите</a>, чтобы оставить комментарий.</p>
        {% endif %}

        <div class="comments">
            {% for comment in comments %}
                <div class="comment">
                    <strong>{{ comment.user.username }}</strong>
                    <p>{{ comment.content }}</p>
                    <small>{{ comment.id }}</small>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}