{% extends "base.html" %}

{% block content %}

<section id="Earthshake">
            <h2>Стихийные бедствия | Действия на природе.</h2>
            <div class="Natural_Disasters">

                    <div class="image image0"></div>
                    <div class="selection">
                        <div class="selection_btn">
                            <div class="selection_btn1 active_1">Землетрясение</div>
                        </div>
                        <div class="description">
                            <div class="description_text"><b>▎1.</b> Быстро покинуть здание, взяв необходимые документы и вещи.<br><br><b>▎2.</b> Спускаться только по лестнице, не пользоваться лифтом.<br><br><b>▎3.</b> На улице держаться подальше от зданий, на открытом пространстве.<br><br><b>▎4.</b>Сохранять спокойствие и помогать другим.</div>
                        </div>
                    </div>
                </div>
        </section>
    <section id="Tsunami">
            <div class="Natural_Disasters">
                <div class="image_selection">
                    <div class="image image1"></div>
                    <div class="selection">
                        <div class="selection_btn">
                            <div class="selection_btn1  active_1">Цунами</div>
                        </div>
                        <div class="description">
                            <div class="description_text="><b>▎1.</b> Слушайте предупреждения о цунами по радио или телевидению.
                                <br><br>
                                <b>▎2.</b> Уходите на возвышенность или вглубь страны, как можно быстрее.
                                <br><br>
                                <b>▎3.</b> Не оставайтесь на берегу, даже если волны кажутся спокойными.
                                <br><br>
                                <b>▎4.</b> Избегайте низменных мест и прибрежных зон.
                                <br><br>
                                <b>▎5.</b> Следите за дальнейшими указаниями местных властей.</div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
<section id="Flood">
        <div class="Natural_Disasters">
            <div class="image_selection">
                <div class="image image2"></div>
                <div class="selection">
                    <div class="selection_btn">
                        <div class="selection_btn1 active_1">Наводнение</div>
                    </div>
                    <div class="description">

                        <div class="description_text"><b>▎1.</b> Слушайте предупреждения о наводнении и следуйте указаниям властей.
                            <br><br>
                            <b>▎2.</b> Не пытайтесь перейти через затопленные участки; ищите возвышенные места.
                            <br><br>
                            <b>▎3.</b> Перемещайтесь на более высокие этажи зданий, если вы находитесь в доме.
                            <br><br>
                            <b>▎4.</b> Избегайте использования автомобиля, так как вода может быстро подняться.
                            <br><br>
                            <b>▎5.</b> Подготовьте запас еды и воды, если ожидается длительное отключение электроэнергии.</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
<section id="Nature">
        <div class="Natural_Disasters">
            <div class="image_selection">
                <div class="image image3"></div>
                <div class="selection">

                    <div class="selection_btn">
                        <div class="selection_btn1 active_1">Природа</div>
                    </div>
                    <div class="description">
                            <div class="description_text"><b>▎1.</b> Не отходите далеко от группы; всегда держитесь вместе с друзьями или взрослыми.
                            <br><br>
                            <b>▎2.</b> Следите за окружающей средой, избегайте незнакомых растений и животных.
                            <br><br>
                            <b>▎3.</b> Имейте при себе необходимые вещи, такие как вода, еда и аптечка первой помощи.
                            <br><br>
                            <b>▎4.</b> Не оставляйте мусор и не разжигайте огонь без разрешения; соблюдайте правила безопасности.
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
<section>
        <h2>Комментарии</h2>

        {% if user %}
            <form method="POST" action="{{ url_for('add_comment') }}">
                <textarea name="content" rows="4" cols="50" placeholder="Оставьте ваш комментарий..." required></textarea><br>
                <button class="comment_submit" type="submit">Отправить</button>
                <hr>
            </form>
        {% else %}
            <p><a href="{{ url_for('login') }}">Войдите</a>, чтобы оставить комментарий.</p>
        {% endif %}

        <div class="comments">
            {% for comment in comments %}
                <div class="comment">
                    <strong>{{ comment.user.username }}</strong>
                    <p>{{ comment.content }}</p>
                    <small>{{ comment.id }}</small>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}