{% extends "base.html" %}

{% block content %}
<div class="reg_form">
    <div>
        <h1>Регистрация</h1>
        <hr>
    </div>

    <form method="POST" action="{{ url_for('register') }}">
        <div class="reg_input">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required><br>
        </div>
        <div class="reg_input">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
        </div>
        <div class="reg_input">
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br>
        </div>
        <button class="reg_submit" type="submit">Зарегистрироваться</button>
        <hr>
    </form>

    <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войдите</a></p></div>
{% endblock %}